{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "tabWidth": 4,
    "objectWrap": "collapse",
    "bracketSameLine": false,
    "printWidth": 80,
    "importOrder": [
        "^components/(.*)$",
        "^[./](?!.*\\.(css|scss)$)",
        ".*\\.(css|scss)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
